
// menu

nav {
  background-color: black;
  padding: 12px;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  border: 1px solid white;
  padding: 10px;
}
nav a:hover {
  color: pink;
  // background-color: rgba(48, 43, 43, 0.363);
}